{% extends "base.html" %}
{% block content %}
<article class="media content-section">
  <img class="rounded-circle article-img"
    src="{{ url_for('static', filename='profile_pics/' + meeting.who.image_file) }}">
  <div class="media-body">
    <div class="article-metadata">
      <a class="mr-0">{{ meeting.typ}}</a><br> 
      Użytkownik: <a class="mr-0" href="#">{{ meeting.who.full_name() }}</a><br> 
      Klient: <a class="mr-0" href="#">{{ meeting.with_who.customer_name }}</a><br>
      
      <small class="text-muted">{{ meeting.date.strftime('%Y-%m-%d %H:%M') }}</small>
    </div>
    <h2 class="article-title">{{ meeting.title }}</h2>
    <form method="POST" action="">
      {{ form.hidden_tag() }}
      <div class="form-group">
        {% if form.notes.errors %}
        {{ form.notes(class="form-control form-control-lg is-invalid") }}
        <div class="invalid-feedback">
          {% for error in form.notes.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        {% else %}
        {{ form.notes(class="form-control form-control-lg") }}
        {% endif %}
      </div>
      <div class="form-group">
        {{ form.submit(class="btn btn-outline-info") }}
        <button type="button" class="btn btn-outline-info" data-toggle="modal" data-target="#deleteModal">Usuń zdarzenie</button>
      </div>

    </form>
  </div>
</article>

  <!-- Modal -->
  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Usunąć zdarzenie?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
          <form action="{{ url_for('delete_meeting', meeting_id=meeting.id) }}" method="POST">
            <input class="btn btn-danger" type="submit" value="Usuń">
          </form>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}
{% block sidebar %}
{% include "partials/upcoming_meetings_sidebar.html" %}
{% endblock sidebar %}