{% extends "base.html" %}
{% block content %}
<article class="media content-section">
  <img class="rounded-circle article-img"
    src="{{ url_for('static', filename='profile_pics/' + meeting.who.image_file) }}">
  <div class="media-body">
    <div class="article-metadata">
      <a class="mr-0" href="#">{{ meeting.who.full_name() }}</a> z
      <a class="mr-0" href="#">{{ meeting.with_who.customer_name }}</a><br>
      <small class="text-muted">{{ meeting.date.strftime('%Y-%m-%d %H:%M') }}</small>
    </div>
    <h2 class="article-title">{{ meeting.title }}</h2>
    <div class="form-group">
      {{ form.notes.label(class="form-control-label") }}
      {% if form.notes.errors %}
      {{ form.notes(class="form-control form-control-lg is-invalid") }}
      <div class="invalid-feedback">
        {% for error in form.notes.errors %}
        <span>{{ error }}</span>
        {% endfor %}
      </div>
      {% else %}
      {{ form.notes(class="form-control form-control-lg") }}
      {% endif %}
    </div>
    <div class="form-group">
      {{ form.submit(class="btn btn-outline-info") }}
    </div>
  </div>
</article>

{% endblock content %}