
  {% extends "base.html" %}
  {% block content %}
  {% for product in product %}
  <article class="media content-section">
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2" href="#">{{ product.id }}</a>
        <small class="text-muted">{{ product.name }}</small>
      </div>
      <h2><a class="article-title" href="#"></a></h2>
      <p class="article-content"></p>
    </div>
  </article>
  {% endfor %}
  {% endblock content %}
  {% block sidebar %}
  {% include "partials/add_product_sidebar.html" %}
  {% endblock sidebar %}