<form method="POST" action="">
    {{ form.hidden_tag() }}
    <fieldset class="form-group">
        <legend class="border-bottom mb-4">Dodaj nową umowę</legend>
        <div class="form-group">
            {{ form.title.label(class="form-control-label") }}
            {% if form.title.errors %}
            {{ form.title(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
                {% for error in form.title.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% else %}
            {{ form.title(class="form-control form-control-lg") }}
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.customer.label(class="form-control-label") }}
            {% if form.customer.errors %}
            {{ form.customer(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
                {% for error in form.customer.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% else %}
            {{ form.customer(class="form-control form-control-lg") }}
            {% endif %}
        </div>

        <div class="form-group">
            {{ form.supplier.label(class="form-control-label") }}
            {% if form.supplier.errors %}
            {{ form.supplier(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
                {% for error in form.supplier.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% else %}
            {{ form.supplier(class="form-control form-control-lg") }}
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.value.label(class="form-control-label") }}
            {% if form.value.errors %}
            {{ form.value(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
                {% for error in form.value.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% else %}
            {{ form.value(class="form-control form-control-lg") }}
            {% endif %}
        </div>

        <div class="form-group">
            {{ form.products.label(class="form-control-label") }}
            {% if form.products.errors %}
            {{ form.products(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
                {% for error in form.products.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% else %}
            {{ form.products() }}
            {% endif %}
        </div>


        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
</form>